django>=1.3
-e git+https://github.com/RANUX/django-catalogs.git#egg=django-catalogs
django-videos
django-tagging

# for tests
-e git+https://github.com/nose-devs/nose.git#egg=nose
django-nose
coverage
-e git+https://github.com/pydevua/django-testrecorder.git#egg=django-testrecorder