{% extends "videopages/base.html" %}
{% load video_tags i18n %}

{% block title %}{% trans "Add video" %}{% endblock %}

{% block content %}
<p>{% video_form videopage %}</p>

{% get_videos_for videopage as "videos" %}
    {% for video in videos %}
    {% embed_video video 320x240 %}
{% endfor %}

<form method="post" action="{% url videopages_edit videopage.slug %}">
    {% csrf_token %}
    {{ videopage_form }}
    <p class="submit">
        <input type="submit" value="{% trans "Save" %}"/>
    </p>
</form>
{% endblock %}