{% load video_tags i18n %}

<div class="well">
    <div class="page-header">
        <h3>{% trans "Edit video page" %}</h3>
    </div>
    <p>{% video_form videopage %}</p>
    <div>
    {% get_videos_for videopage as "videos" %}
    {% for video in videos %}
        <div><i class="icon-remove"></i>{% video_delete_link video %}</div>
        <div>{% embed_video video 480x320 %}</div>
    {% endfor %}
    </div>
    <form id="videopage-form" method="post" action="{% url videopages_edit videopage.author.username videopage.slug %}">
        {% csrf_token %}
        {{ videopage_form }}
        <p>
            <input id="videopage-success-button" type="submit" class="btn-success" value="{% trans "Save" %}"/>
            <a href="{% url videopages_remove videopage.author.username videopage.slug %}"><input type="button" class="btn-danger" value="{% trans "Remove" %}"/></a>
        </p>
    </form>
</div>