{% extends "videopages/base.html" %}
{% load video_tags i18n %}

{% block title %}{% trans "Latest videos" %}{% endblock %}

{% block content %}

<table class="table table-condensed">
{% for videopage in objects_page.object_list %}
        <tr>
            {% if videopage.thumbnail %}
            <td>
                <a href="{% url videopages_page videopage.author.username videopage.slug %}">
                    <img src="{{ videopage.thumbnail.url }}" alt="{{ videopage.title }}">
                </a>
            </td>
            {% endif %}
            <td>
            <h4>
            <a href="{% url videopages_page videopage.author.username videopage.slug %}">{{ videopage.title }}</a>
            [ <a href="{% url videopages_user_list videopage.author.username %}">{{ videopage.author.username }} </a> ]
            </h4>
            {{ videopage.description|linebreaks|truncatewords:30 }}
            </td>
        </tr>
{% endfor %}
</table>

{% include "videopages/paginator.html" %}

{% endblock %}